@use 'base/variables' as v;
@use 'base/mixins' as m;

.boton {
  @include m.boton(v.$color-900, v.$color-200, v.$color-300);

  &.disable {
    @include m.boton(v.$color-800, v.$color-200);

    &:hover {
      cursor: not-allowed;
    }
  }

  &.xl {
    font-size: 2em;
  }

  &--inline {
    width: auto;
    display: inline-block;
  }

  &.danger {
    background-color: v.$danger;
  }

  &--secundary {
    background-color: v.$color-600;
    color: v.$blanco;

    &:hover {
      background-color: lighten($color: v.$color-600, $amount: 10%);
    }
  }

  &--action {
    @include m.boton(v.$color-900, v.$color-200, v.$color-300);
    width: auto;
    display: inline-block;
    padding: .5rem 1rem;
    color: v.$blanco;

    &.delete {
      background-color: v.$rojo;
    }

    &.update {
      background-color: v.$verde;
    }

  }
}