// Fuentes
$fuente_headings: 'Satoshi', sans-serif;
$fuente_headings: 'Poppins', sans-serif;
$fuente_textos: 'Inter', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1280px;


$gris: #6b7280;
$grisOscuro: #4B5563;
$rojo: rgb(169, 0, 0);
$verde: rgb(0, 120, 0);
$danger: #eb06a1;

$negro: #000;
$blanco: #FFFFFF;
$crema: #ffffff9c;

$color-100: #FFF0D3;
$color-200: #FFDCA5;
$color-300: #FFC26D;
$color-400: #FF9D32;
$color-500: #FF7F0A;
$color-600: #FF6600;
$color-700: #CC4902;
$color-800: #A1390B;
$color-900: #82310C;

$color-main: #FF7F0A;
$color-secundary: #FFC26D;

$separacion: 2rem;
$regular : 500;
$bold : 700;
$black: 900;