// Fuentes
$fuente_headings: 'Satoshi', sans-serif;
$fuente_headings: 'Poppins', sans-serif;
$fuente_textos: 'Inter', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1280px;


$gris: #6b7280;
$grisOscuro: #4B5563;
$rojo: rgb(169, 0, 0);
$verde: rgb(0, 120, 0);
$danger: #eb06a1;

$negro: #000;
$blanco: #FFFFFF;
$crema: #ffffff9c;


$color-50: #f0f8ff;
$color-100: #e0effe;
$color-200: #b9e0fe;
$color-300: #7cc7fd;
$color-400: #36acfa;
$color-500: #0c91eb;
$color-600: #0071c7;
$color-700: #015aa3;
$color-800: #064d86;
$color-900: #0b416f;
$color-950: #07294a;
$color-alpha: rgb(7, 41, 75);


$separacion: 2rem;
$regular : 500;
$bold : 700;
$black: 900;