@use 'base/mixins' as m;
@use 'base/variables' as v;

.content__center {
  display: flex;
  align-items: center;
}

.form {
  width: 100%;
  box-shadow: 0px 10px 50px 12px rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  padding: 2rem 3rem;

  &__title {
    font-size: 3.5em;
    color: v.$color-800;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    margin: 1.5rem 0;

    &.top {
      margin-top: 5rem;
    }

    &__item {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }

  &__label {
    color: v.$color-800;
    font-size: 1.2em;
    font-weight: v.$bold;
    padding: .5rem 0;
  }

  &__input {
    border: none;
    border-radius: 1rem;
    padding: 1.5rem;
    box-shadow: 0px 2px 5px .3px rgb(v.$color-alpha, 0.25);

    &:focus {
      border: .2rem solid v.$color-300;
      outline: none;
    }
  }

  &__option {
    text-transform: capitalize;
  }

  &__container__search {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;

    button {
      flex: .5;
    }

    input {
      flex: 4;
    }
  }

  @include m.tablet {
    &__row {
      flex-direction: row;

      &__item {
        display: flex;
        flex-direction: column;
        width: 100%;
      }
    }

    &__container__search {
      flex-direction: row-reverse;

    }
  }
}