@use 'base/variables' as v;
@use 'base/mixins' as m;

// * Contenedor Base
.container {
  display: flex;
  height: 100%;
  flex-direction: column;

  @include m.telefono {
    flex-direction: row;
  }
}

// * Contenedor Menu
.sidebar {
  background-color: v.$color-800;
  width: 100%;
  height: 100%;
  animation: active 1s forwards;

  display: none;

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem 0;
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 3rem;
    background-color: v.$color-200;
    padding: 1rem;
    border-radius: 1rem;
    text-decoration: none;
    box-shadow: 2px 18px 32px -3px v.$color-500;
    -webkit-box-shadow: 2px 18px 32px -3px v.$color-500;
    -moz-box-shadow: 2px 18px 32px -3px v.$color-500;

    &:hover {
      background-color: darken(v.$color-main, 10%);
    }
  }

  &__icon {
    display: flex;
    color: v.$color-800;

    span {
      font-size: 3rem;
    }
  }

  &__link__title {
    color: v.$color-800;
  }

  &__close {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 3rem;

    &__link {
      display: flex;
      align-items: center;
      gap: 2rem;

    }

    &__text {
      color: v.$color-100;
      font-size: 1.2em;
    }

    span {
      color: v.$color-100;
    }
  }

  &.active {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }

  @include m.telefono {
    max-width: 30rem;
    display: block;

    &__image {
      max-width: 12rem;
    }
  }
}

// * Contenedor Contenido
.content {
  flex: 1;
  overflow: auto;
}

// * Icono Cerrar Sidebar
.close__icon {
  padding: 3rem;
  color: v.$color-200;
  text-align: right;
  cursor: pointer;

  span {
    font-size: 5rem;
  }

  @include m.telefono {
    display: none;
  }
}

.header--movile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: v.$color-800;

  .material-symbols-outlined {
    color: v.$color-100;
    font-size: 6rem;
  }

  span {
    cursor: pointer;
  }

  @include m.telefono {
    display: none;
  }
}

.content {
  padding: 2rem;
}

@keyframes active {
  0% {
    width: 50%;
  }

  100% {
    width: 100%;
  }
}